.basicinfo-container{
    
    
    button{
      width:20%;
      margin-left: 40%;
      margin-top: 18px;
     
      border-radius: 6px;    
      font-weight: 800;
    }
}
.main-label-input{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    // border:2px solid black;
}

.heading{
    text-align: center;
}

.label-input{
    margin:20px;
    // border:2px solid red;
    label{
        display:block;
        font-weight: 900;
    }
    input{
        height:27px;
        border-radius:8px;
    }
}

