.skills-heading{
    text-align: center;
}

.skill-label-input{
    margin:20px;
    label{
        display:block;
        font-weight: 900;
    }
    input{
        height:27px;
        border-radius:8px;
    }
}