.skills-heading{
    text-align: center;
}

.skill-label-input{
    margin:20px;
    label{
        margin-left: 2%;
        display:block;
        font-weight: 900;
    }
    input{
        margin:1%;
        height:27px;
        border-radius:8px;
    }
}

.skill-add-button{
    margin-left:7%;
}