.main-div{
    border:2px solid red;
    height:100vh;
    width:97vw;
    
    ul{
        display:flex;
        width:97%;
        height:4.5%;
        justify-content: space-around;
        li{
            list-style: None;

        }
        border:2px solid black;
    }
    .info-display{
        border:2px solid red;
        height:80%;
        width:30%;
    }
}

.editor-info{
    display:flex;
    gap:10px;
    border:2px solid green;
    height:90%;
    justify-content: space-around;
    flex-wrap: wrap;
    
    .editor{
        border:2px solid #666;
        width: 50%;
    }
}