
.basic-information-section-name-div {
    display: flex;
    flex-direction: column;
    background-color: white;
    // background-color: rgba(199, 192, 128, 0.671);
    width: 100%;
  
   
    h1 {
        text-align: center;
        font-size: 37px;
        font-weight: 900;
        // border: 1px solid grey;
        color:rgb(112 112 149);
        margin-bottom:0
    }

    .basic-information-section-name-subdiv {
        // border: 2px solid green;
        margin-bottom: 5px;
        display:flex;
        justify-content: center;
    }
}
.about-section{
    // border:2px solid red;
    
    label{
        color:rgb(112 112 149);
    }
    .about-heading {
        margin-left:20px;
        font-weight: 900;
        font-size: 20px;
    }
    .editor-about-div{
        // border:2px solid red;
        min-height:40px;
        max-height:80px;
        text-align: center;
        margin-left:20px;
        margin-right:20px;
        overflow: hidden;

    }
}

.education-section{
    // border:2px solid red;
    background-color: white;
    label{
        color:rgb(112 112 149);
    }
    .education-head {
        margin-left:20px;
        font-weight: 900;
        font-size: 20px;
    }
    .editor-edu-div {
        margin-left:20px; 

        table {
            border-collapse: collapse;
            
        }
    }
}

.skills-section{
    // border:2px solid red;
    label{
        color:rgb(112 112 149);
    }
    .skills-head{
        margin-left:20px;
        font-weight: 900;
        font-size: 20px;
        
    }
 
    .editor-skills-div{
        margin-left: 20px;
        margin-right: 20px;
        // border:2px solid green;
    
     
       
            ul{
                // border: 1px solid blue;
                display: flex;
                flex-wrap: wrap;
                max-width: 90%;
                justify-content: space-between;
            
                li{
                    margin:4px;
                    // border:1px solid grey;
                    min-width:100px;
                    list-style: disc;
                }
            }
        
    }
}

.experience-section{
    // border:2px solid red;
    background-color: white;
    label{
        color:rgb(112 112 149);
    }
    .experience-head{
        margin-left:20px;
        font-weight: 900;
        font-size: 20px;
        
    }
    .editor-experience-div{
        margin-left: 20px;
        margin-right: 20px;
        // border:2px solid green;
        display:flex;
        flex-wrap:wrap;
       
        align-items: center;
        max-width: 80%;
        justify-content: space-evenly;
        div{
            // border:2px solid cyan;
            min-width: 25%;
            // text-align: center;
            margin:5px;
        }
    }
    h4{
        margin:0;
    }
}

.projects-section{
    // border:2px solid red;
    label{
        color:rgb(112 112 149);
    }
    .projects-head{
        margin-left:20px;
        font-weight: 900;
        font-size: 20px;
        
    }
    h4{
        margin: 0;
    }
    .editor-projects-div{
        margin-left: 20px;
        margin-right: 20px;
        // border:2px solid green;
        display:flex;
        flex-wrap:wrap;
        justify-content:space-around;
        align-items: center;
        max-width: 80%;
        div{
            // border:2px solid cyan;
            min-width: 45%;
           
            margin:2px;
        }
    }
}

